body{
    background-color: hsl(30, 38%, 92%);
    align-items: center;
    
}



main{

    width :  500px;
    height : auto;
    border: 2px solid black;
    margin-top: 100px;
    margin-left: 100px;
    border-radius: 10px;
    display: flex;
    background-color: white;
    margin: auto;
    margin-top: 150px;
   
}

#imgg{
    width: 292px;
    height: auto;
}

#prices{
    display: flex;
    justify-content: space-around;
}

.oda{
   padding-left: 20px;
}

.new{
    color:  hsl(228, 12%, 48%);
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    margin-top: 30px;
   
}

#tex{
    color:  hsl(228, 12%, 48%);
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    
}

#perf{
    color:  hsl(228, 12%, 48%);
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}

h1{
    color: hsl(212, 21%, 14%);
    font-family: 'Fraunces', serif;
    font-size: 25px;
    margin-left: 10px;
}

#pri{
    color: hsl(158, 36%, 37%);
    font-family: 'Fraunces', serif;
    font-size: 25px;
}

#cart{
    border: 1px solid black;
    margin-left: 20px;
    margin-right: 20px;
    padding: 5px;
    padding-left: 35px;
    color: white;
    background-color: hsl(158, 36%, 37%);
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    border-radius: 3px;
    display: flex;
    height: 35px;

}

#icon{
    height: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
}

#cat{
    padding-bottom: 30px;
}

#imgg2{
    display: none;
}

@media screen and (max-width:600px){
   
    
    main{

        width :  292px;
        height : auto;
        border: 2px solid black;
        margin-top: 100px;
        margin-left: 100px;
        border-radius: 10px;
        display: block;
        background-color: white;
        margin-bottom: 80px;
        
        
    }

    #imgg{
        width: 292px;
        height: auto;
        display: none;
    }

    #imgg2{
        display: block;
        width: 292px;
        height: auto;
        
    }
    
    #cart{
        margin-bottom: 15px;
    }

    #mai{
        margin-right: 12px;
    }
}